*{
	box-sizing:border-box;
	margin: 0px;
	padding: 0px;
}
.container, body{
	width: 100%;
	height: 100%;
}

.fondo {
	background-size: cover;
	height: 100%;
	width:100%;
	background-image: url(img/surf.jpg);
}

/* NAVBAR SECTION */

.menu{
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	position: fixed;
	background-color: black;
	z-index: 10;
}

.menu li{
	list-style: none;
	display: inline-block;
	padding: 15px;
}

.lista {
	width: 31%;
	margin: 0;
	position: absolute;
	right: 80px;
	top: 10px;
}

.menu img{
	padding: 5px;
	width: 13%;
	z-index: 10;
	left: 60px;
	position: relative;
}

a {
	text-decoration: none;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

 /* SLOGAN */

.slogn{
	position: absolute;
	top: 70%;
	right: 6%;
	z-index: 1;
	padd
}

.slogn h1{
	font-family: 'Bad Script', cursive;
	color: white;
}

.slogn h3{
	font-family: 'Bad Script', cursive;
	left: 62%;
	margin: 0;
	position: absolute;
	width: 150px;
	color: white;
}

/* PAQUETES */

.medio {
	width: 100%;
	height: 630px;
	background-color: white;
	padding: 60px;
	font-family: 'Lato', sans-serif;
}

.medio h1{
	color: #0B173B;
	font-size: 26px; 
	text-align: center;
	padding: 10px 0 10px 0;
}

.pack{
	border: 1px solid #0B173B;
	background-color: white;
	width: 27%;
	height: 79%;
	float: left;
	margin: 36px;
}

.titpaq{
	text-align: left;
	font-size: 12px;
	color: white;
	padding: 3px;
}

.precio{
	text-align: center;
	font-size: 40px;
	color: white;
	padding: 3px;
}

.mes{
	text-align: center;
	font-size: 12px;
	color: white;
	padding: 3px;
}

.semana{
	padding: 20px;
	text-align: center;
	border-bottom: 1px solid #0B173B;
	background-color: white;
}

.incluye{
	text-align: center;
	padding: 15px 0;
	line-height: 1.5em;
	font-size: 12px;
	border-bottom: 1px solid #0B173B;
	background-color: white;
}

.boton span{
	text-align: center;
	padding: 17px;
	background-color: #088A68;
	font-size: 17px;
	color: white;
}

.boton{
	text-align: center;
	padding: 40px;
}

.boton span:hover{
	background-color: rgba(27, 218, 160, 0.6);
	color:#0B173B;
}

.contpack{
	font-family: 'Lato', sans-serif;
	padding: 20px;
	background-color: #0B173B;
}

/* QUE ES */

.quees{
	width: 100%;
	height: 730px;
	background-color: gray;
	padding: 50px 100px;
	background-image: url(img/tile2.png);
}

.quees h1{
	color: #0B173B;
	font-family: 'Lato', sans-serif;
	font-size: 26px; 
	text-align: center;
	padding: 10px 0 40px 0;
}

.video{
	float: left;
	border:none;
	padding: 0 50px;
}

.quees p{
	color: #0B173B;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	margin: 0 auto;
	text-align: justify;
	line-height: 1.4em;
	padding-bottom: 40px;
}

/* SECCION PROFESORES */

.profesor1{
	padding: 16px 100px;
	background-color: white;
}

.profesor2{
	padding: 0 100px 20px 100px;
	background-color: white;
}


.prof{
	padding-right: 16px;
	text-align: center;
}

.prof1{
	padding:0px;
	text-align: center;
}

.profesor1 h3{
	color: #0B173B;
	font-family: 'Lato', sans-serif;
	font-size: 26px; 
	text-align: center;
	padding: 30px 0 40px 0;
}

.conjunto{
	padding: 0 100px 50px 100px;
}
.conjunto2{
	padding: 0 100px 50px 100px;
}
.nombre{
	text-align: center;
	padding: 0 84px;
	display: inline-block;
	color: #0B173B;
	font-family: 'Lato', sans-serif;
}



/* PIE DE PÁGINA */

.piepagina{
	height: 90px;
	background-color: black;
}

.piepagina span{
	color: darkgray;
	margin-top: 10px;
	margin-left: 50px;
	letter-spacing: 0.1em;
	padding: 20px;
	font-family: 'Lato', sans-serif;
}

.imgface{
	position: relative;
	top: 23px;
	left: 70px;
	width: 50px;
	border-radius: 50%;
	margin: 0 5px;
}

/*CONTACTO*/

.contacto{
 	height: 370px;
 	width: 100%;
 	background-image: url(img/tile2.png);
 	margin: 0 auto;
 	padding: 30px;
 	text-align: center;
 	font-family: 'Lato', sans-serif;
 }

.contacto h1{
	color: #0B173B;
	font-family: 'Lato', sans-serif;
	font-size: 26px; 
	text-align: center;
	padding: 40px 0 40px 0;
	line-height: 1em;
}

.imgface:hover{
	background-color:#1EBAF2;
}

