/*menu*/
.menu{
    padding: 0;
}
img.fondo {
  width: 100%;
  height: 100%;
  position: fixed;
}
.row{
    margin: 0;
    z-index: 20;
}
.fa-home:before {
   padding: 10%;
   font-size: 30px;
}
.fa-tasks:before {
   padding: 10%;
   font-size: 30px;
}
.fa-users:before {
   padding: 10%;
   font-size: 30px;
}
.fa-phone-square:before {
   padding: 10%;
   font-size: 30px;
}
.menu section{
    ul {
         padding: 2% 0;
         text-align: center;
         margin: 0;
         position: fixed;
         width: 8.5%;
         background-color: rgba(255, 255, 255, 0.46);
         border-right:1px solid #0548A1;
         height: 100%;
        li{
            width: 100%;
            padding: 43% 5%;
            margin: auto;
            font-weight: 600;
            text-align: center;
            color: #0548A1;       
        }    
   }
}

.menu section ul li:hover{
    background-color:#0548A1;
    color: white;
}
/*content2*/
.logo-grande {
  text-align: center;
   h1 {
     font-size: 100px;
     font-family: 'Vidaloka', serif;
     padding: 13%;
     font-weight: 900;
     background: -webkit-gradient(linear,left top,left bottom,from(#000AC2),to(#29FAFA));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     text-align: center;
 }
}

 /* SLOGAN */
.slogn {
  padding: 6% 0 0 0;
}
.slogn h2{
  font-family: 'Playball', cursive;
  color: white;
}

.slogn h3 {
  font-family: 'Playball', cursive;
  margin: 0;
  color: white;
}
/* PAQUETES */
.grid{
  background-color: rgba(54, 60, 61, 0.15);
  height: 100%;
}
.contpack {
  padding: 2%;
  background-color: white;
}
.baby{
  padding: 2%;
  img{
    padding: 2%;
  }
}
.color {
 background: #2A83A0;
 padding: 2%;
}
.medio {
  width: 100%;
}
.pack {
padding: 2%;
}
.medio h1 {
  color: #060606;
  font-size: 43px;
  text-align: center;
  padding: 10px 0 10px 0;
  font-family: 'Playball', cursive;
}
.titpaq{
  text-align: left;
  font-size: 12px;
  color: white;
  padding: 3px;
}
.precio{
  text-align: center;
  font-size: 40px;
  color: white;
  padding: 3px;
}
.mes{
  text-align: center;
  font-size: 12px;
  color: white;
  padding: 3px;
}
.semana{
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #0B173B;
  background-color: white;
}
.incluye{
  text-align: center;
  padding: 15px 0;
  line-height: 1.5em;
  font-size: 12px;
  border-bottom: 1px solid #2A83A0;
  background-color: white;
}

.boton span{
  text-align: center;
  padding: 17px;
  border:2px solid #0548A1;
  font-size: 17px;
  color: black;
}

.boton{
  text-align: center;
  padding: 40px;
}

.boton span:hover{
  background-color:#2A83A0;
  color:white;
}


/* QUE ES */
.nos{
    background: rgba(37, 32, 30, 0.3);
    padding: 2% 5% 2%;
}
.quees{
  width: 100%;
  padding: 5px 100px;
  background-image: url(img/tile2.png);
  padding-top: 0;
}

.quees h1{
  color: #060606;
  font-size: 43px;
  text-align: center;
  padding: 10px 0 40px 0;
  font-family: 'Playball', cursive;
  margin: 0;
}
 center{
 margin-top: 5%;
}
.video {
border: 2px solid white;
width: 82%;
}

.quees p{
  color: #FFFEFE;
  font-family: 'Playball', cursive;
  font-size: 25px;
  margin: 0 auto;
  text-align: justify;
  line-height: 1.4em;
}
/* SECCION PROFESORES */
.profesor1,
.profesor2{
  padding: 5% 0;
}
.profesor1 img,
.profesor2 img{
  padding: 2%;
  width: 100%;
  margin: 0;
  float: left;
  border: 5px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 0px 0px 5px #aaa;
  cursor: default;
  height: 100%;
}
.mask{
  opacity: 0;
  overflow:visible;
  border:0px solid rgba(0,0,0,0.7);
  box-sizing:border-box;
  transition: all 0.4s ease-in-out;
  left: 15px;
  width: 88%;
  height: 100%;
  position: absolute;
}
.view.second-effect {
  height: 30%;
}
.view.second-effect h3.info {
  position: relative;
  top: -50px;
  opacity: 1;
  transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
  color: white;
  font-size: 20px;
  left: -21px;
  font-family: 'Playball', cursive;
}
.view.second-effect:hover a.info {
 /*  opacity:1;*/
   transform:scale(1,1);
   transition-delay:0.5s;
   color: white;
   position: absolute;
}
.view.second-effect:hover .mask {
  border: 0px double rgba(0, 0, 0, 0.7);
  opacity: 1;
  border:100px solid rgba(0,0,0,0.7);
  left: 15px;
  width: 88%;
  height: 100%;
}
.profesor2 img{
  padding: 2%;
  width: 100%;
  height: 100%;  
}


.prof{
  padding-right: 16px;
  text-align: center;
}


.profesor1 h3{
  color: #060606;
  font-size: 50px;
  text-align: center;
  padding: 0 0 7% 0;
  font-family: 'Playball', cursive;
}

.conjunto{
  padding: 0 100px 50px 100px;
}
.conjunto2{
  padding: 0 100px 50px 100px;
}
.nombre{
  text-align: center;
  padding: 0 84px;
  display: inline-block;
  color: #0B173B;
  font-family: 'Lato', sans-serif;
}
/* PIE DE PÁGINA */

.piepagina{
  background-color: #00366e;
  padding: 2%;
  bottom: -34px;
  position: relative;
}

.piepagina span{
  color: darkgray;
  margin-top: 10px;
  margin-left: 50px;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
}

.imgface{
  position: relative;
  top: 23px;
  left: 70px;
  width: 50px;
  border-radius: 50%;
  margin: 0 5px;
}

/*CONTACTO*/

.contacto{
  height: 370px;
  width: 100%;
  background-image: url(img/tile2.png);
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  font-family: 'Lato', sans-serif;
 }

.contacto h1{
  color: #0B173B;
  font-family: 'Lato', sans-serif;
  font-size: 26px; 
  text-align: center;
  padding: 40px 0 40px 0;
  line-height: 1em;
}

.imgface:hover{
  background-color:#1EBAF2;
}
form#contacto {
padding: 12%;
text-align: center;
}
input#nombre {
padding: 1%;
background-color: rgba(231, 219, 219, 0.88);
}
input#Email {
padding: 1%;
background-color: rgba(231, 219, 219, 0.88);
width: 39%;
}
textarea#mensaje {
width: 39%;
background-color: rgba(231, 219, 219, 0.88);
}